.ms-fullScreen{
	padding: 0px;}
	
.ms-topBar{
	text-align: center;
	background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
	padding: 0px;}

.ms-topBarTitle{
	font-size: 70px;
	color: hsl(0,0%,80%);
	font-weight: normal;}

.ms-inputTitle{
	font-size: 70px;
	margin-left: 25px;}
	
.ms-inputLabel{
	font-size: 50px;
	padding-right: 10px;
	text-align: right;}	
	
.ms-inputValue{
	height: 90px;
	font-size: 50px;
	margin: 15px;}

.ms-inputUnit{
	height: 90px;
	font-size: 50px;
	margin-top: 15px;}

.ms-errorMessage{
	}
	
.ms-outputBackground{
	background-color: hsl(0,0%,10%);
	padding-top: 30px;
	height: 500px;}
	
.ms-elevationChangeLabel{
	color: hsl(0,0%,80%);
	font-size: 50px;
	text-align: right;}
	
.ms-elevationChangeValue{
	color: hsl(0,0%,80%);
	font-size: 50px;}
	
.ms-timeLabel{
	color: hsl(0,0%,80%);
	font-size: 50px;	
	text-align: right;}

.ms-timeValue{
	color: hsl(0, 0%,80%);
	font-size: 120px;}