{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="msApp">
<head>
    <title>m u n t e r | s y s t e m | 2 . 0</title>

    <!-- libs -->
    <script type="text/javascript" src="{% static 'js/lib/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular/angular-resource.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/bootstrap/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/munter.css' %}"> 
 
    <!-- your stuff below -->
    <script type="text/javascript" src="{% static 'js/munter/munter.js' %}"></script>

</head>
<body>

<!-- NOTE: to mix AngularJS templates and Django templates, you must wrap the entire content block in verbatim/endverbatim tags -->
{% verbatim %}

    <div class="container" ng-controller="MunterSystemCtrl">
	
		<div>
			<h4 div class="text-center titleBar">m u n t e r | s y s t e m</h4>
		</div>
		
		
		
        <div class="row">
            <h4>about</h4>
            
			<p class="text">Swiss guide Werner Munter developed the "Munter Method of Time Calculation"
			to estimate time for mountain travel, given distance, elevation change and a rate.
			It is particularly useful for developing tour plans and estimating approach times
			for alpine climbing, mountaineering and back-country skiing objectives.</p>
			
			<p  class="text">The equation is as follows, with time in hours, distance in kilometers and
			elevation in meters:</p>
			
			<p class="text"> <i> time = (distance + elevation/100) / rate</i></p>
			
			<p class="text">Some examples of typical, moderate rates are given under the menu heading 
			"typical munter rates".</p>
			
			<p class="text">The default calculation mode is the "time calculation mode", which estimates
			travel time as described above.  You may also want to back-calculate a munter rate,
			to do this the "rate calculation mode" can be used.</p>
			
			<p class="text">Please feel free to email with questions or suggestions: </p>
			
			<p class="text-center"><a href="mailto:HighDawnAlpinism@gmail.com">HighDawnAlpinism@gmail.com</a></p>
				
			<br />			
		</div>
		
		<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
				<ul class="nav nav-pills nav-justified">
					<li class="text-center"><a class="navBarText" href="index.html">time<br>calc</a></li>
					<li class="text-center"><a class="navBarText" href="rate_calculation.html">rate<br>calc</a></li>
					<li class="text-center"><a class="navBarText" href="typical_rates.html">typical<br>rates</a></li>
					<li class="text-center active"><a class="navBarText" href="about.html">about<br>-</a></li>					
				</ul>	
		</nav>	
    </div>

{% endverbatim %}

</body>
</html>