{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="msApp">
<head>
    <title>m u n t e r | s y s t e m | 2 . 0</title>

    <!-- libs -->
    <script type="text/javascript" src="{% static 'js/lib/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular/angular-resource.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/bootstrap/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/munter.css' %}"> 
 
    <!-- your stuff below -->
    <script type="text/javascript" src="{% static 'js/munter/munter.js' %}"></script>

</head>
<body>

<!-- NOTE: to mix AngularJS templates and Django templates, you must wrap the entire content block in verbatim/endverbatim tags -->
{% verbatim %}

    <div class="container" ng-controller="MunterSystemCtrl">
	
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<p class="navbar-text pull-left">s c r a m b l i n g - s n o w - c l i m b i n g</p>
		</nav>	
		
        <div class="row">
            
			<p class="text">American Mountain Guide Marc Chauvin has developed a system for estimating 
			travel time in 3rd and 4th class terrain.  It is also useful in other terrain with indistinct pitches, such as extended snow climbing.  </p>
			
			<p> His approach is to convert distance and elevation gain into an equivalent number of 60-meter pitches.  
			Sixty meters is the current standard length for a climbing rope.  Since most climbers are intimately familiar with this distance, 
			they will find it easier to estimate the amount of time required for a single pitch than for the climb as a whole.</p>
			
			<p  class="text">The equation is as follows, with time in hours, distance and elevation in meters, and rate is in minutes / 60m pitch:</p>
			
			<p class="text text-center"> <i> time = (distance + elevation) * rate</i></p>
			
			<p class="text">Typical rates in this type of terrain are 10 - 30 min/60m pitch, and will vary based on terrain, party skill and fitness.  </p>
			
		</div>
		
		<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
				<ul class="nav nav-pills nav-justified">
					<li class="text-center"><a class="navBarText" href="munter_calc.html">class<br>1 - 2</a></li>
					<li class="text-center active"><a class="navBarText" href="chauvin_calc.html">class<br>3 - 4</a></li>
					<li class="text-center"><a class="navBarText" href="technical_calc.html">class<br>5</a></li>					
				</ul>	
		</nav>	
    </div>

{% endverbatim %}

</body>
</html>