{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="msApp">
<head>
    <title>m u n t e r | s y s t e m | 2 . 0</title>

    <!-- libs -->
    <script type="text/javascript" src="{% static 'js/lib/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular/angular-resource.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/bootstrap/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/munter.css' %}">
    
    <!-- your stuff below -->
    <script type="text/javascript" src="{% static 'js/munter/munter.js' %}"></script>

</head>
<body>

<!-- NOTE: to mix AngularJS templates and Django templates, you must wrap the entire content block in verbatim/endverbatim tags -->
{% verbatim %}

    <div class="container" ng-controller="MunterSystemCtrl">		
		<div>
			<h4 div class="text-center titleBar">m u n t e r | s y s t e m</h4>
		</div>
		
        <div class="row">
            <h4>time calculation mode</h4>
            <form class="form-horizontal">
			
                <!-- munter rate -->
                <!-- this will add the CSS class 'has-error' (Bootstrap) to the "div" if "rate" is invalid -->
                <div class="form-group" ng-class="{'has-error': !isValidRate(munterTrip.rate)}">
                    <label for="rate" class="col-xs-4 control-label text-right">rate</label>
                    <div class="col-xs-4">
                        <input type="input" class="form-control text-right" id="rate" placeholder="0" ng-model="munterTrip.rate" />
                        <label class="control-label text-right" for="rate" ng-hide="isValidRate(munterTrip.rate)">
                            invalid entry
                        </label>
                    </div>
                </div>

                <!-- distance -->
                <div class="form-group" ng-class="{'has-error': !isValidLength(munterTrip.distance)}">
                    <label for="distance" class="col-xs-4 control-label text-right">distance</label>
                    <div class="col-xs-4">
                        <input type="input" class="form-control text-right" id="distance" placeholder="0" ng-model="munterTrip.distance" />
                        <label class="control-label text-right" for="distance" ng-hide="isValidLength(munterTrip.distance)">
                            invalid entry
                        </label>
                    </div>
                    <div class="col-xs-4">
                        <select class="form-control" ng-model="munterTrip.distanceUnit" name="distanceUnit" ng-options="v for (k,v) in distanceUnits"></select>
                    </div>
                </div>

				<!--  elevation -->
                <div class="form-group" ng-class="{'has-error': !isValidLength(munterTrip.elevation)}">
                    <label for="elevation" class="col-xs-4 control-label text-right">elevation</label>
                    <div class="col-xs-4">
                        <input type="input" class="form-control text-right" id="elevation" placeholder="0" ng-model="munterTrip.elevation" />
                        <label class="control-label text-right" for="elevation" ng-hide="isValidLength(munterTrip.elevation)">
                            invalid entry
                        </label>
                    </div>
                    <div class="col-xs-4">
                        <select class="form-control" ng-model="munterTrip.elevationUnit" name="elevationUnit" ng-options="v for (k,v) in elevationUnits"></select>
                    </div>
                </div>
			</form>
			<br /> 
			<!-- Output -->
			<h4 ng-show="showTime()">time</h4>
            <h2 class="text-center" ng-show="showTime()">{{time()|prettyTime}}</h2>
			
		</div>

        <div class="row" ng-controller="BurkCtrl">
            <h4>playing around with "ng-show" and "ng-hide"</h4>
            <div class="col-xs-4">
                selected: {{mOption}}
                <select class="form-control" ng-model="mOption" ng-options="k as v for (k, v) in mOptions">
                    <option ng-model="mOption" value="">-- select a color --</option>
                </select>
                <br />
            </div>
            <div class="col-xs-4" style="color: #AEAEAE;border:solid 1px #808080;">
                <div class="col-xs-8" ng-show="!mOption">
                    <h3>select something!</h3>
                </div>
                <div class="col-xs-8" style="background:#808080;" ng-show="mOption == 1">
                    <h3>dark!</h3>
                </div>
                <div class="col-xs-8" style="background:#A0A0A0;" ng-show="mOption == 2">
                    <h3>medium!</h3>
                </div>
                <div class="col-xs-8" style="background:#E0E0E0;" ng-show="mOption == 3">
                    <h3>light!</h3>
                </div>
            </div>
        </div>
		
		<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
				<ul class="nav nav-pills nav-justified">
					<li class="text-center active"><a class="navBarText" href="index.html">time<br>calc</a></li>
					<li class="text-center"><a class="navBarText" href="rate_calculation.html">rate<br>calc</a></li>
					<li class="text-center"><a class="navBarText" href="typical_rates.html">typical<br>rates</a></li>
					<li class="text-center"><a class="navBarText" href="about.html">about<br>-</a></li>					
				</ul>	
		</nav>	
    </div>

{% endverbatim %}

</body>
</html>