{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="msApp">
<head>
    <title>m u n t e r | s y s t e m | 2 . 0</title>

    <!-- libs -->
    <script type="text/javascript" src="{% static 'js/lib/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular/angular-resource.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/bootstrap/bootstrap.css' %}">
    
    <!-- your stuff below -->
    <script type="text/javascript" src="{% static 'js/munter/munter.js' %}"></script>
</head>
<body>

<!-- NOTE: to mix AngularJS templates and Django templates, you must wrap the entire content block in verbatim/endverbatim tags -->
{% verbatim %}

    <div class="container" ng-controller="MunterSystemCtrl">

        <h1>m u n t e r | s y s t e m</h1>
        <div class="row">
            <h4>input</h4>
            <form class="form-horizontal">
                <!-- munter rate -->
                <!-- this will add the CSS class 'has-error' (Bootstrap) to the "div" if "rate" is invalid -->
                <div class="form-group" ng-class="{'has-error': !isValidRate(munterTrip.rate)}">
                    <label for="rate" class="col-xs-3 control-label text-right">munter rate</label>
                    <div class="col-xs-4">
                        <input type="input" class="form-control text-right" id="rate" placeholder="rate" ng-model="munterTrip.rate" />
                        <label class="control-label" for="rate" ng-hide="isValidRate(munterTrip.rate)">
                            invalid entry
                        </label>
                    </div>
                </div>

                <!-- distance -->
                <div class="form-group" ng-class="{'has-error': !isValidLength(munterTrip.distance)}">
                    <label for="distance" class="col-xs-3 control-label text-right">distance</label>
                    <div class="col-xs-4">
                        <input type="input" class="form-control text-right" id="distance" placeholder="distance" ng-model="munterTrip.distance" />
                        <label class="control-label" for="distance" ng-hide="isValidLength(munterTrip.distance)">
                            invalid entry
                        </label>
                    </div>
                    <div class="col-xs-4">
                        <select class="form-control" ng-model="munterTrip.distanceUnit" name="distanceUnit" ng-options="v for (k,v) in distanceUnits"></select>
                    </div>
                </div>
				
				<!-- initialElevation -->
                <div class="form-group" ng-class="{'has-error': !isValidLength(munterTrip.initialElevation)}">
                    <label for="initialElevation" class="col-xs-3 control-label text-right">initial elevation</label>
                    <div class="col-xs-4">
                        <input type="input" class="form-control text-right" id="initialElevation" placeholder="elevation" ng-model="munterTrip.initialElevation" />
                        <label class="control-label" for="initialElevation" ng-hide="isValidLength(munterTrip.initialElevation)">
                            invalid entry
                        </label>
                    </div>
                    <div class="col-xs-4">
                        <select class="form-control" ng-model="munterTrip.elevationUnit" name="elevationUnit" ng-options="v for (k,v) in elevationUnits"></select>
                    </div>
                </div>
				
				<!-- finalElevation -->
                <div class="form-group" ng-class="{'has-error': !isValidLength(munterTrip.finalElevation)}">
                    <label for="finalElevation" class="col-xs-3 control-label text-right">  final elevation</label>
                    <div class="col-xs-4">
                        <input type="input" class="form-control text-right" id="finalElevation" placeholder="elevation" ng-model="munterTrip.finalElevation" />
                        <label class="control-label" for="finalElevation" ng-hide="isValidLength(munterTrip.finalElevation)">
                            invalid entry
                        </label>
                    </div>
                    <div class="col-xs-4">
						<p class="form-control">{{munterTrip.elevationUnit}}</p>
                    </div>
                </div>
            </form>
			
			<br />
			<!-- Output -->
			<h4>output</h4>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="elevationChange" class="col-xs-3 control-label text-right"> elevation change </label>
					<div class="col-xs-4">
						<b class="text-center form-control" ng-show="showElevationChange()">{{elevationChange()|number}} {{munterTrip.elevationUnit}}</b>
					</div>
                </div>
				<div class="form-group">
                    <label for="time" class="col-xs-3 control-label text-right"> time </label>  
					<div class="col-xs-4">
						<b class="text-center form-control" ng-show="showTime()">{{time()|prettyTime}}</b><br />
					</div>
				</div>
			
			
			
			
			
			
        </div>
    </div>

{% endverbatim %}

</body>
</html>