{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="msApp">
<head>
    <title>g u i d e | p a c e</title>

    <!-- libs -->
    <script type="text/javascript" src="{% static 'js/lib/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular/angular-resource.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/bootstrap/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/munter.css' %}">
    
    <!-- your stuff below -->
    <script type="text/javascript" src="{% static 'js/munter/munter.js' %}"></script>

</head>
<body>

<!-- NOTE: to mix AngularJS templates and Django templates, you must wrap the entire content block in verbatim/endverbatim tags -->
{% verbatim %}

    <div class="container" ng-controller="MunterSystemCtrl">		
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<p class="navbar-text pull-left">r o c k - i c e - c l i m b i n g</p>
			<ul class="nav nav-pills">
				<li class="text-center pull-right"><a class="navBarText" href="technical_about.html">?</a></li>					
			</ul>	
		</nav>	
		
        <div class="row">
            <p class="text-center">( estimation method:  simple )</p>
            <br />
			
			<form class="form-horizontal">
			
                <!-- munter rate -->
                <!-- this will add the CSS class 'has-error' (Bootstrap) to the "div" if "rate" is invalid -->
                <div class="form-group" ng-class="{'has-error': !isValidRate(munterTrip.rate)}">
                    <label for="rate" class="col-xs-4 control-label text-right">rate</label>
                    <div class="col-xs-4">
                        <input type="input" class="form-control text-right" id="rate" placeholder="0" ng-model="munterTrip.rate" />
                    </div>
					<div class="col-xs-4">
                        <p class="form-control pForm">min/pitch</p>
                    </div>
                </div>

				<!--  pitches -->
                <div class="form-group" ng-class="{'has-error': !isValidPitches(munterTrip.pitches)}">
                    <label for="pitches" class="col-xs-4 control-label text-right">pitches</label>
                    <div class="col-xs-4">
                        <input type="input" class="form-control text-right" id="elevation" placeholder="0" ng-model="munterTrip.pitches" />
                    </div>
                </div>
				
				<p class="text-center text-danger" for="elevation" ng-hide="isValidEverything()">{{errorMessage()}}</p>
				
			</form>
			<br /> 
			
			<!-- Output -->
			<h4 ng-show="showTime()">time</h4>
            <h2 class="text-center" ng-show="showTime()">{{time("technical")|prettyTime}}</h2>
			
		</div>

		<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
				<ul class="nav nav-pills nav-justified">
					<li class="text-center"><a class="navBarText" href="munter_calc.html">class<br>1 - 2</a></li>
					<li class="text-center"><a class="navBarText" href="chauvin_calc.html">class<br>3 - 4</a></li>
					<li class="text-center active"><a class="navBarText" href="technical_calc.html">class<br>5</a></li>					
				</ul>	
		</nav>	
    </div>

{% endverbatim %}

</body>
</html>