{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="msApp">
<head>
    <title>m u n t e r | s y s t e m | 2 . 0</title>

    <!-- libs -->
    <script type="text/javascript" src="{% static 'js/lib/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular/angular-resource.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/bootstrap/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/munter.css' %}"> 
 
    <!-- your stuff below -->
    <script type="text/javascript" src="{% static 'js/munter/munter.js' %}"></script>

</head>
<body>

<!-- NOTE: to mix AngularJS templates and Django templates, you must wrap the entire content block in verbatim/endverbatim tags -->
{% verbatim %}

    <div class="container" ng-controller="MunterSystemCtrl">
	
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<p class="navbar-text pull-left">r o c k - i c e - c l i m b i n g</p>
		</nav>	
		
        <div class="row">
            
			<p class="text">Roped climbing in technical terrain is typically broken up into pitches, which are up to one rope-length long.  A typical pitch may take
			anywhere from 30 minutes to an hour or more, depending on the difficulty of the terrain and skill of the party.  The equation used by this 
			calculator is simply:</p>
			
			<p class="text text-center"> <i> time = pitches * rate</i></p>
			
			<p class="text">Technical decent times can also be estimated by substituting number of pitches for number of rappels.</p>
			
		</div>
		
		<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
				<ul class="nav nav-pills nav-justified">
					<li class="text-center"><a class="navBarText" href="munter_calc.html">class<br>1 - 2</a></li>
					<li class="text-center"><a class="navBarText" href="chauvin_calc.html">class<br>3 - 4</a></li>
					<li class="text-center active"><a class="navBarText" href="technical_calc.html">class<br>5</a></li>					
				</ul>	
		</nav>	
    </div>

{% endverbatim %}

</body>
</html>